llama_cpp_agent>=0.2.19
#llama_cpp_agent @ git+https://github.com/Maximilian-Winter/llama-cpp-agent@master
#package-two @ git+https://github.com/owner/repo@releases/tag/v3.7.1
scikit-build-core
gradio>=4.31.5
openai
duckduckgo_search
trafilatura
lxml-html-clean
lxml
transformers
sentencepiece
protobuf
bs4
googlesearch-python